* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0.75em 0;
  text-align: center;
  font-family: 'Square Peg', sans-serif;
  font-weight: bold;
  font-size: 3em;
}

p {
  width: 80%;
  padding: 1em 0;
}

body {
  background-color: #a0aecd;
  font-family: 'Roboto', sans-serif;
  color: black;
}

img {
  border: 5px solid #fff;
  border-style: outset;
}

/* Navbar Styles  */
.site-name {
  font-family: 'Square Peg', sans-serif;
  font-size: 2em;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}

/* youTube Responsive Embed */
.youtube-video {
  max-width: 720px;
  margin: 3em auto;
}

.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.embed-responsive iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Horizontal align cards  */
.card {
  margin: 0 auto;
  background-color: rgba(174, 205, 160, 0.3);
  max-width: 340px;
}

.card-text {
  margin: 0 auto;
}

/* footer grid  */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.div-center {
  display: grid;
  place-items: center;
}
@media screen and (max-width: 1200px) and (min-width: 360px) {
  #about h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 1.5em;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
  }
}
